<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Halaman Profil</title>
        <link rel="stylesheet" href="Assets/gaya.css">
    </head>
    <body>
        <img src="Assets/foto bunder.png" width="500" height="500" alt="Rounded Picture">
        <h1>Muhammad Franklin Yusuf</h1>
        
        <p>Saya adalah mahasiswa tingkat 4 dari Universitas Seadanya. Saya memiliki ketertarikan yang kuat dengan perkembangan teknologi.</p>
        <hr>
        <h3>Pengalaman Magang</h3>
        <ul>
            <li>Pos Indonesia (2020-2020)</li>
            <li>Telkom Indonesia (2021-2021)</li>
        </ul>
        <hr>
        <h3>Hobi</h3>
        <ol>
            <li>Makan</li>
            <li>Tidur</li>
            <li>Bermain klarinet</li>
        </ol>
        <hr>
        <h3>Skills</h3>
        <table>
            <tr>
                <td>
                <table>
                    <tr>
                        <td>Python</td>
                        <td>&#127775;&#127775;&#127775;&#127775;</td>
                    </tr>    
                    <tr>
                        <td>JavaScript</td>
                        <td>&#127775;&#127775;&#127775;&#127775;</td>
                    </tr>
                    <tr>
                        <td>Java</td>
                        <td>&#127775;&#127775;&#127775;&#127775;</td>
                    </tr>
                </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>Docker</td>
                            <td>&#127775;&#127775;&#127775;&#127775;</td>
                        </tr>    
                        <tr>
                            <td>Kubernetes</td>
                            <td>&#127775;&#127775;&#127775;&#127775;</td>
                        </tr>
                        <tr>
                            <td>Cloud Computing</td>
                            <td>&#127775;&#127775;&#127775;&#127775;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <hr>
        <p>Contact <a href="">me.</a></p>
    </body>
</html>